name: Build and test

on:
  push:
    branches:
      - master
      - /^v\d+\.\d+\.\d+/

jobs:
  build:
    strategy:
      matrix:
        php: [8.0]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run tests
        run: composer test
